# Uncomment this entry
#.env
.env.docker
venv/
.venv/
log.ini
*.log
__pycache__
/tmp/*

# Uncomment this entry
#test_service.yml

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.history
/.vscode
